@import './base.css';

.img-container {
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  background-color: #191919;
}

.img-container > * {
  backdrop-filter: blur(10px);
  /* background-color: rgba(0, 0, 0, 0.7); */
}
